@import "tailwindcss";

@theme {
  --color-primary: #007bff;
  --color-secondary: #1b8354;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;

  --font-ar-primary: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --font-en-primary: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html[lang="ar"],
html[lang="ar-SA"] {
  --font-primary: var(--font-ar-primary);
}

html[lang="en"],
html[lang="en-US"] {
  --font-primary: var(--font-en-primary);
}

body {
  font-family: var(--font-primary);
}
