@import "tailwindcss";

@theme {
  --color-primary: #007bff;
  --color-secondary: #1b8354;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;

  --font-primary: "IBM Plex Sans Arabic", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-primary;
}
